html, body {
    position:relative;
    min-height: 100vh;
    font-size: 18px;    

}
.modalek {
     width: 80%;
}
#custom-nav {
    height: 100px;
    padding-top: 25px; 
}
.navbar {
    margin: 0px;
}
.navtop {
    height: 80px;
}
.navbar-default {
     background-color: rgba(255, 255, 255, 0.8);
}
.navbar-inverse {
     background-color: rgba(33, 33, 33, 0.9);
}
.navbar-brand {
    color: white;
    font-size: 24px;
    margin-top: -15px;
    text-align: center;
    line-height: 25px
}
.navbar-brand > a {
    text-decoration: none;
    color: white;
}
a:hover {
   text-decoration: none;
}
.navbar-collapse {
    font-size: 18px;
}

.jumbotron{
    height: 100vh;
    background-image: url(../img/jumb.jpg);
    background-position: 50% 50%;
    background-size: cover;
    margin: 0px;
    color:white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}
.pytania {
    width: 100%;
    height: auto;
    padding: 25px;
    background: #d3d3d3;
}
.tuzarabiam {
    width: 100%;
    height: auto;
    padding: 25px;
    background: white;
}
.imgtat:hover {
    cursor: pointer;
}

@media (min-width: 768px) {

  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0px;
  }


  header .header-content .header-content-inner p {
    font-size: 28px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.about {
    min-height: 400px;
    background-color: #f6f6f6;
    padding: 50px;
}




.footer {
    height: 100px;
    width: 100%;
    padding: 35px;
    font-size: 24px;
    background-color: #152836;
    color: white;
}

@media (max-width: 768px) {

    .navbar-brand {
    color: white;
    
    font-size: 18px;
    margin-top: -15px;
    text-align: center;
    line-height: 25px
}
     header {
    max-height: 450px;
  }
  header .header-content {
    position: absolute;
    top: 8%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0px;
  }


  header .header-content .header-content-inner p {
    font-size: 24px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}